<head>
<title>tomoyo explorer</title>
</head>

<b>File Search</b></br>
<form action='/search?keyword=<%= params[:keyword] %>' method='get'>
Keyword: <input type="text" name="keyword"><br>
<input type="submit" value="Search">
</form>

<hr>

